.DS_Store
.vscode
.venv
**/*.pyc
**/.venv
**/venv
**/__pycache__
**/rtl-sdr.rules
**/cloudflared.deb
**/.next
**/node_modules
**/package-lock.json
**/package.json
**/error.log
**/config.yml
**/config.yaml